<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75251107189-5sn2k35pdo80uiavomf6rhplblp93fg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75251107189-5sn2k35pdo80uiavomf6rhplblp93fg0</string>
	<key>API_KEY</key>
	<string>AIzaSyAS1rC-QfEjPJjrWJtbn9O32B_x1INPIPo</string>
	<key>GCM_SENDER_ID</key>
	<string>75251107189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectApp</string>
	<key>PROJECT_ID</key>
	<string>connect-app-17f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-app-17f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75251107189:ios:5496397970b682ce037f3c</string>
</dict>
</plist>